---
layout: default
title: Jobs
---

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Jobs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
          <p>
            Required a logo designed, a usability study, or an interface-facelift?
            Our diverse community and extended network have got you covered.
          <p>
        </div>
        <div class="col-md-5">
          <p>
            <a class="btn btn-primary" href="/jobs/job-form/">Post A Job</a>
            We'll review your posting as soon as we can! Free and paid gigs welcome.
          </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="job-list">
                {% for page in site.pages reversed %}
                {% if page.layout == 'jobs' and page.status == 'searching' %}
                {% unless page.title contains 'Job Title' %}{% comment %} Filter out the example page {% endcomment %}
                <li>
                    <h2>
                      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">
                        {{ page.title }}
                      </a>
                    </h2>
                    <p>
                      {% if page.role %}
                      <span class="pill role">{{ page.role }}</span> @
                      {% endif %}
                      <span class="pill organization">{{ page.organization }}</span>
                    </p>
                    {% if page.compensation == "gratis" %}
                    <span class="pill compensation gratis">
                        &#10084; {{ page.compensation }}
                    {% else %}
                    <span class="pill compensation paid">
                        &dollar; {{ page.compensation }}
                    {% endif %}
                    </span>
                </li>
                {% endunless %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul>
                <li>More comfortable with Git? Use our <a href="https://github.com/opensourcedesign/jobs">git based method</a>.</li>
                <li>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
                <li>Checkout other places like: <a href="https://www.fossjobs.net" target="_blank">FOSS Jobs</a></li>
            </ul>
        </div>
    </div>
</div>
