---
layout: default
---

<div class="home">

  <p>
    A list of open source design jobs, maintained as open source, and made by you.
  </p>
  <p>
    To add a job listing, check out <a href="https://github.com/opensourcedesign/job-board#job-board" title="github repository">our github repository</a>.
  </p>
  <ul class="job-list">
    {% for page in site.pages %}
    {{ title }}
        {% if page.layout == 'jobs' %}
          {% unless page.title contains 'Job Title' %}
          <li>
            <h2>
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" title="page.title">{{ page.title }}</a>
            </h2>
            <span class="pill rate">{{ page.rate }}</span>
          </li>
          {% endunless %}
        {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
