---
layout: default
---
<div class="container">
  <div class="row">
    <div class="post col-md-8 col-md-offset-2">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div>
      <label for="organization">Organization: </label><a id="organization" class="organization" href="{{ page.org_url }}">{{ page.organization }}</a><br/>
      <label for="status">Status: </label><span id="status" class="status">{{ page.status }}</span><br/>
      <label for="rate">Rate: </label><span id="rate" class="rate">{{ page.rate }}</span><br/>
      <label for="date">Date Posted: </label><span id="date" class="date">{{ page.date_posted }}</span><br/>
      <span id="tags" class="rate">{{ page.tags }}</span><br/>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
</div>
</div>
